.bible {
  max-width: 720px;
  margin: 0 auto;

  @include element('appbar') {
    color: #000000 !important;
    background-color: #ffffff !important;

    @media (prefers-color-scheme: dark) {
      color: #ffffff !important;
      background-color: #212121 !important;
    }

    @include modifier('bottom') {
      color: #000000 !important;
      background-color: #ffffff !important;

      @media (prefers-color-scheme: dark) {
        color: #ffffff !important;
        background-color: #212121 !important;
      }
    }
  }

  @include element('verse') {
    padding-top: 70px;
    padding-bottom: 110px;
    padding-left: 20px;
    padding-right: 20px;

    @media (prefers-color-scheme: dark) {
      color: #ffffff !important;
    }

    @include modifier('loading') {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 80px;
      height: 100vh;
    }
  }

  @include element('text') {
    @include element('title') {
      font-weight: 700 !important;
      text-align: center;
      margin-top: 20px !important;
      margin-bottom: 20px !important;
      line-height: 130% !important;
    }

    @include element('verse') {
      font-size: 14pt !important;
      line-height: 180% !important;

      @include element('sup') {
        font-size: 10px;
        margin-right: 5px;
        color: #333;

        @media (prefers-color-scheme: dark) {
          color: lighten($color: $primary, $amount: 40%) !important;
        }
      }
    }
  }

  @include element('modal') {
    @media (prefers-color-scheme: dark) {
      background: #424242 !important;
    }

    @include element('title') {
      @media (prefers-color-scheme: dark) {
        color: #ffffff !important;
      }
    }

    @include element('text') {
      @media (prefers-color-scheme: dark) {
        color: #ffffff !important;
      }

      @include modifier('secondary') {
        color: #bfbfbf !important;
      }
    }
  }
}
