.guidecard {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 25px 25px 0 0 !important;
  @include box-shadow(0, 3px, 10px, rgba(0, 0, 0, 0.14));

  @media (prefers-color-scheme: dark) {
    background: #121212 !important;
  }

  @include element('box') {
    width: 90px;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.14));

    @media (prefers-color-scheme: dark) {
      background: lighten($color: #121212, $amount: 12%) !important;
    }

    @include modifier('primary') {
      width: 90px;
      padding: 10px 15px;
      border-radius: 5px;
      text-align: center;
      background: $primary !important;
      @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.14));
    }

    @include element('title') {
      color: $primary;
      font-weight: 700 !important;

      @media (prefers-color-scheme: dark) {
        color: #ffffff !important;
      }

      @include modifier('primary') {
        color: #ffffff !important;
        font-weight: 700 !important;
      }
    }
  }

  @include element('text') {
    color: $primary;
    font-weight: 400 !important;

    @media (prefers-color-scheme: dark) {
      color: darken($color: #ffffff, $amount: 25%) !important;
    }

    @include modifier('primary') {
      color: darken($color: $primary, $amount: 15%) !important;
      font-weight: 400 !important;

      @media (prefers-color-scheme: dark) {
        color: #ffffff !important;
      }
    }
  }
}
