.homecard {
  @media (prefers-color-scheme: dark) {
    background: #121212 !important;
  }

  @include element('title') {
    color: $primary !important;
    font-weight: 700 !important;

    @media (prefers-color-scheme: dark) {
      color: #ffffff !important;
    }
  }

  @include element('subtitle') {
    color: $primary !important;
    font-weight: 300 !important;

    @media (prefers-color-scheme: dark) {
      color: #ffffff !important;
    }
  }

  @include element('pbox') {
    width: 60px;
    padding: 20px 10px;
    border-radius: 5px;
    text-align: center;
    @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.14));

    @media (prefers-color-scheme: dark) {
      background: $primary !important;
    }

    @include element('text') {
      color: $primary;
      font-size: 14pt !important;
      margin: 0;
      font-weight: 700 !important;

      @media (prefers-color-scheme: dark) {
        color: #ffffff !important;
      }
    }
  }

  @include element('button') {
    width: 100% !important;
    font-weight: 700 !important;
  }
}
