@import 'mixins';

$primary: #673ab7;
$secondary: #764ec0;
$gray: #6e6e6e;

body {
  @media (prefers-color-scheme: dark) {
    background: #000000 !important;
  }
}

.container {
  position: relative;
  max-width: 720px;
  margin: 0 auto;
  padding: 0 8%;

  @include modifier('fluid') {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
  }
}

.header {
  position: absolute;
  width: 100%;
  height: 200px;
  background: $primary;

  @include element('overlay') {
    position: absolute;
    width: 88%;
    height: 75%;
    background: $secondary;
  }

  @include element('title') {
    font-size: 2.2em;
    color: white;
    margin-bottom: 0;
    font-weight: 700 !important;

    @include modifier('persembahan') {
      font-size: 2.2em;
      color: white;
      margin-bottom: 0;
      font-weight: 700 !important;
      margin-top: 60px;
      margin-bottom: 5px;
      line-height: 125%;

      @media (min-width: 320px) and (max-width: 425px) {
        margin-top: 30px !important;
      }
    }
  }

  @include element('subtitle') {
    font-size: 1.2em;
    color: white;
    margin-top: 0;
    font-weight: 400 !important;

    @media (min-width: 320px) and (max-width: 375px) {
      font-size: 1em;
    }
  }
}

.bottomnav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  @include box-shadow(0, 3px, 15px, rgba(0, 0, 0, 0.24));

  @media (prefers-color-scheme: dark) {
    background: #121212 !important;
  }

  @include element('action') {
    @media (prefers-color-scheme: dark) {
      color: #adadad !important;

      &.Mui-selected {
        color: #ffffff !important;
      }
    }
  }
}

// Overrides
.MuiSkeleton-root {
  @media (prefers-color-scheme: dark) {
    background-color: #414141 !important;
  }
}

@import 'home';
@import 'guide';
@import 'bible';
@import 'persembahan';
@import 'maintenance';
