@tailwind base;

:root {
  --transition-default: 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* start: custom base styles */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/inter-var-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: optional;
  src: url(/fonts/lato-black.woff2) format('woff2');
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  @apply bg-gray-50;
  transition: var(--transition-default);
}

html.dark {
  @apply bg-gray-800;
  transition: var(--transition-default);
}

html.light {
  @apply bg-gray-50;
  transition: var(--transition-default);
}

body {
  @apply p-0 m-0 bg-gray-50 dark:bg-gray-800;
  transition: var(--transition-default);
}

#__next {
  @apply bg-gray-50 dark:bg-gray-800;
  transition: var(--transition-default);
}
/* end: custom base styles */

@tailwind components;

/* start: custom component styles */
.react-modal-sheet-container {
  background-color: #f9fafb !important;
}

.dark .react-modal-sheet-container {
  background-color: #374151 !important;
}

.react-modal-sheet-content {
  @apply w-full max-w-md mx-auto;
}

.react-modal-sheet-header {
  height: 40px;
  @apply relative w-full flex items-center justify-center;
}

.react-modal-sheet-drag-indicator {
  width: 18px;
  height: 4px;
  border-radius: 99px;
  background-color: #ddd;
}

.dark .react-modal-sheet-drag-indicator {
  background-color: #6b7280;
}

.prose h2 {
  @apply text-green-700;
}

.prose h3 {
  @apply text-green-700;
}

.full-height {
  min-height: 100vh;
}

@supports (-webkit-touch-callout: none) {
  .full-height {
    min-height: -webkit-fill-available;
  }
}
/* end: custom component styles */

@tailwind utilities;
