.persembahan {
  color: rgba(0, 0, 0, 0.87) !important;
}

.persembahan-button {
  font-family: 'SFProDisplay-Bold', sans-serif !important;
  width: 100% !important;
  color: white !important;
  border: 1px solid white !important;
}

@media (prefers-color-scheme: dark) {
  .persembahan {
    color: white !important;
  }
}
