.persembahan {
  padding: 16px 10%;
  color: rgba(0, 0, 0, 0.87) !important;

  @media (prefers-color-scheme: dark) {
    color: #ffffff !important;
  }

  @include element('text') {
    color: black;

    @media (prefers-color-scheme: dark) {
      color: #ffffff !important;
    }

    @include modifier('bank') {
      margin: 10px 0;
      font-weight: 700 !important;

      @media (prefers-color-scheme: dark) {
        color: #ffffff !important;
      }
    }
  }

  @include element('block') {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (prefers-color-scheme: dark) {
      border: 1px solid #ffffff !important;
    }
  }

  @include element('button') {
    font-weight: 700 !important;
    width: 100% !important;
    color: black !important;
    border: 1px solid black !important;

    @media (prefers-color-scheme: dark) {
      width: 100% !important;
      color: white !important;
      border: 1px solid white !important;
    }
  }
}
