.guide-box {
  width: 105px;
  padding: 15px 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  text-align: center;
}

// .guide-box-primary {
//   width: 105px;
//   padding: 15px 20px;
//   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14);
//   border-radius: 5px;
//   text-align: center;
//   background: #673ab7 !important;
// }

// February Special
.guide-box-primary {
  width: 105px;
  padding: 15px 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  text-align: center;
  background: #d81b60 !important;
}
