.warta-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.warta-bg {
  background-color: '#FFF' !important;
}

@media (prefers-color-scheme: dark) {
  .warta-bg {
    background-color: #000 !important;
  }
}
